:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    background: #420024;

    mat-card {
        width: 24rem;
        
        mat-card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}